<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="WorkoutTrackerEntities" connectionString="metadata=res://*/WorkoutTrackerModel.csdl|res://*/WorkoutTrackerModel.ssdl|res://*/WorkoutTrackerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC384103;initial catalog=WorkoutTracker;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>