.row1 {
  margin: 0px 0px 10px 0px;
}
.chart-container {
  width: 1000px;
  height: 1000px
}

.hide{
  display:none !important;
}

.show {
  display: block !important;
}

.header {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Merienda One', sans-serif;
  text-align: center;
}

.links {
  font-weight: bold;
}

  .links > li {
    padding-right: 20px;
    font-size: 16px;
  }

    .links > li a {
      text-decoration: underline;
    }


.header, #links {
  border: 2px solid #162e42;
}

.panel-body {
  background: #cfefcf !important;
}