<h3 class="well header">Workout Tracker</h3>

<div class="well" id="links">
    <ul class="list-inline links">
        <li><a routerLinkActive="active" (click)="GetAllWorkoutsByUser()" [ngClass]="{'disabled':!hasData() }" [attr.area-disabled]="!hasData()">View All</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/workout/add']">Create</a></li>
        <li><a href="#" routerLinkActive="active" [routerLink]="['/category']">Category</a></li>
        <li><a href="#" routerLinkActive="active" [routerLink]="['/report']">Track</a></li>
    </ul>

    <input *ngIf="hasData()" [(ngModel)]="queryString" placeholder="search" [ngClass]="'searchBox'" />

    <div class="workout-list-container">
        <ng-container *ngIf="hasData()">
            <workout-list *ngFor="let wc of workoutCollection | searchfilter: queryString : 'workout_title'; let i=index" [workout]="wc" 
                          (deleteWorkout)='onDeleteWorkout($event)' (startWorkout)='onStartWorkout($event)' (endWorkout)='onEndWorkout($event)'>
            </workout-list>
        </ng-container>
        <h3 *ngIf="!hasData()">No records found</h3>
    </div>
</div>


