<h3 class="well header">Workout Tracker</h3>
<div class="well" id="links">
  <ul class="list-inline links">
    <li><a href="#" routerLinkActive="active" [routerLink]="['../../../workout']">View All</a></li>
    <li><a href="#" routerLinkActive="active" [routerLink]="['../../../workout/add']">Create</a></li>
    <li><a href="#" routerLinkActive="active" [routerLink]="['../../../category']">Category</a></li>
    <li><a href="#" routerLinkActive="active" [routerLink]="['../../../report']">Track</a></li>
  </ul>

  <h3 id="endWorkoutHeader">End Workout</h3>

  <form #workoutForm="ngForm" (ngSubmit)="onFormSubmit()" [ngClass]="'form-horizontal'" novalidate>
    <div class="form-group">
      <label for="inputTitle" class="control-label col-xs-2">Title:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputTitle" #title="ngModel" placeholder="Title" name="title" [(ngModel)]="model.workout_title" readonly="readonly">
      </div>
    </div>
    <div class="form-group">
      <label for="inputComment" class="control-label col-xs-2">Comment:</label>
      <div class="col-xs-10">
        <textarea class="form-control" id="inputComment" #wcomment="ngModel" placeholder="Comment" name="wcomment" [(ngModel)]="comment"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEd" class="control-label col-xs-2">End Date:</label>
      <div class="col-xs-10">
        <input type="date" class="form-control" id="inputEd" #ed="ngModel" placeholder="End Date" name="ed" [(ngModel)]="edate"/>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEt" class="control-label col-xs-2">End Time:</label>
      <div class="col-xs-10">
        <input type="time" class="form-control" id="inputEt" #et="ngModel" placeholder="End Time" name="et" [(ngModel)]="etime"/>
      </div>
    </div>
    <div class="form-group">
      <label for="inputBtn" class="control-label col-xs-2"></label>
      <div class="col-xs-10">
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-lg btn-success btn-block custom-btn btn-end">End</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-lg btn-success btn-block custom-btn" type="reset" [routerLink]="['../../workout']">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>