.logged-user{
    font-weight:bold;
}

.white {
    color: #000;
    background-color: #fff;
}
#loginForm .form-control {
    width: 100%;
    max-width: 100%;
}
.login-panel {
    border-color: #162e42;
}
    .login-panel > .panel-heading {
        color: #fff;
        background-color: #162e42;
        border-color: #162e42;
    }