<h3 class="well header">Workout Tracker</h3>
<div class="well" id="links">
  <ul class="list-inline links">
    <li><a href="#" routerLinkActive="active" [routerLink]="['../../../workout']">View All</a></li>
    <li><a href="#" routerLinkActive="active" [routerLink]="['../../../workout/add']">Create</a></li>
    <li><a href="#" routerLinkActive="active" [routerLink]="['../../../category']">Category</a></li>
    <li><a href="#" routerLinkActive="active" [routerLink]="['../../../report']">Track</a></li>
  </ul>

  <h3>Edit Workout</h3>

  <form #workoutForm="ngForm" (ngSubmit)="onFormSubmit()" [ngClass]="'form-horizontal'" novalidate>
    <div class="form-group">
      <label for="inputTitle" class="control-label col-xs-2">Title:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputTitle" #title="ngModel" placeholder="Title" name="title" [(ngModel)]="model.workout_title">
      </div>
    </div>
    <div class="form-group">
      <label for="inputNote" class="control-label col-xs-2">Note:</label>
      <div class="col-xs-10">
        <textarea class="form-control" id="inputNote" #note="ngModel" placeholder="Note" name="note" [(ngModel)]="model.workout_note"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="inputCategory" class="control-label col-xs-2">Category:</label>
      <div class="col-xs-10">
        <select id="inputCategory" #category="ngModel" name="category" [(ngModel)]="model.category_id" [ngClass]="'ddl'" class="form-control">
          <option [ngValue]="0">Select category</option>
          <option *ngFor="let c of categories" [ngValue]="c.category_id">{{ c.category_name }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputBtn" class="control-label col-xs-2"></label>
      <div class="col-xs-10">
        <button class="btn btn-lg btn-success btn-block custom-btn">Update</button>
      </div>
    </div>
  </form>
</div>